@import "../omarchy/current/theme/waybar.css";

* {
  background-color: transparent;
  color: @foreground;

  border: none;
  border-radius: 10px;
  min-height: 0;
  font-family: CaskaydiaMono Nerd Font;
  font-size: 12px;
}

.modules-left {
  margin-left: 10px;
  margin-top: 5px;
  padding: 5px;
  background-color: @background;
  color: @foreground;
}

.modules-center {
  margin-top: 5px;
  padding: 5px;
  background-color: @background;
  color: @foreground;

}

.modules-right {
  margin-right: 10px;
  margin-top: 5px;
  padding: 5px;
  background-color: @background;
  color: @foreground;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#battery,
#network,
#pulseaudio,
#clock {
  min-width: 12px;
  margin: 0 7.5px;
}

tooltip {
  padding: 2px;
}
